# Pandas Data Analysis Worksheet Part 1
> by Jason Bedford http://jbedford.net/

### This Worksheet focused on simple counting and groupby operations

In [1]:
import pandas as pd
%matplotlib inline

### Get the data here: https://www.kaggle.com/dansbecker/nba-shot-logs

In [2]:
df = pd.read_csv('nba-shot-logs.zip')

In [3]:
df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

#### The data is structured so that each row corresponds to one shot taking during the 2014-2015 NBA season (We exclude free throws). The columns are information about that shot and are described below.

In [4]:
df.columns

Index(['GAME_ID', 'MATCHUP', 'LOCATION', 'W', 'FINAL_MARGIN', 'SHOT_NUMBER',
       'PERIOD', 'GAME_CLOCK', 'SHOT_CLOCK', 'DRIBBLES', 'TOUCH_TIME',
       'SHOT_DIST', 'PTS_TYPE', 'SHOT_RESULT', 'CLOSEST_DEFENDER',
       'CLOSEST_DEFENDER_PLAYER_ID', 'CLOSE_DEF_DIST', 'FGM', 'PTS',
       'player_name', 'player_id'],
      dtype='object')


'GAME_ID': just a unique number for each game in the season

'MATCHUP': who v. who also date info in here

'LOCATION': H=home, A=away

'W': did the team that the player shooting plays for win

'FINAL_MARGIN': yeah 

'SHOT_NUMBER': of the game

'PERIOD': of the game

'GAME_CLOCK': yeah

'SHOT_CLOCK': yeah

'DRIBBLES': yeah

'TOUCH_TIME': yeah

'SHOT_DIST': yeah 

'PTS_TYPE': yeah the number of points that correspond to the shot

'SHOT_RESULT': yeah 

'CLOSEST_DEFENDER': yeah

'CLOSEST_DEFENDER_PLAYER_ID': yeah 

'CLOSE_DEF_DIST': yeah 

'FGM': Field Goals Made

'PTS': this is redundant if the show was made it is the PTS_TYPE else it's zero

'player_name': yeah the one shooting

'player_id': yeah the one shooting

## Question 1: which team took the most and least shots in a game (for all games in the season)

In [5]:
df['MATCHUP'].value_counts().to_frame().head()

                            MATCHUP
FEB 07, 2015 - DAL vs. POR      105
JAN 29, 2015 - CHI @ LAL        103
NOV 30, 2014 - TOR @ LAL        102
DEC 03, 2014 - SAS @ BKN        101
OCT 29, 2014 - CHA vs. MIL      101

In [6]:
df['MATCHUP'].value_counts(ascending=True).to_frame().head()

                            MATCHUP
FEB 09, 2015 - PHI vs. GSW       10
FEB 09, 2015 - GSW @ PHI         11
MAR 04, 2015 - NYK @ IND         25
FEB 28, 2015 - NYK vs. TOR       27
FEB 23, 2015 - MIN @ HOU         33

### note that value_counts will sort the resultant pandas series in decending order by default.

## Question 2a: which team made the most and least shots in a game (for all games in the season)

In [7]:
made_missed_by_game = df.groupby(['MATCHUP', 'SHOT_RESULT']).size().unstack()
made_missed_by_game.head()

SHOT_RESULT                 made  missed
MATCHUP
DEC 01, 2014 - DEN @ UTA      39      41
DEC 01, 2014 - LAC vs. MIN    36      33
DEC 01, 2014 - MIA @ WAS      31      35
DEC 01, 2014 - MIN @ LAC      30      38
DEC 01, 2014 - PHI vs. SAS    28      37

In [8]:
# now we can sort the one of the columns to get our answers
made_missed_by_game.sort_values('made').head()

SHOT_RESULT                 made  missed
MATCHUP
FEB 09, 2015 - GSW @ PHI       2       9
FEB 09, 2015 - PHI vs. GSW     3       7
MAR 04, 2015 - NYK @ IND       7      18
OCT 29, 2014 - PHI @ IND       9      25
FEB 11, 2015 - MIN vs. GSW    11      27

In [ ]:
## note the first few games seems to be too low. this is likely b/c of a cancelled game.

In [9]:
# and revere our sorting 
made_missed_by_game.sort_values('made', ascending=False).head()

SHOT_RESULT                 made  missed
MATCHUP
NOV 28, 2014 - LAL vs. MIN    48      41
DEC 27, 2014 - SAC vs. NYK    48      39
DEC 08, 2014 - WAS vs. BOS    48      39
NOV 07, 2014 - CHA vs. ATL    47      46
JAN 12, 2015 - TOR vs. DET    47      39

In [10]:
# we can ask the same questions for missed shots
made_missed_by_game.sort_values('missed').head()

SHOT_RESULT                 made  missed
MATCHUP
FEB 09, 2015 - PHI vs. GSW     3       7
FEB 09, 2015 - GSW @ PHI       2       9
FEB 28, 2015 - NYK vs. TOR    13      14
FEB 20, 2015 - MIN vs. PHX    23      16
FEB 08, 2015 - MIN @ DET      21      17

In [11]:
made_missed_by_game.sort_values('missed', ascending=False).head()

SHOT_RESULT                 made  missed
MATCHUP
JAN 17, 2015 - CHA vs. IND    31      65
DEC 03, 2014 - SAS @ BKN      36      65
DEC 28, 2014 - NYK @ POR      30      62
JAN 21, 2015 - WAS vs. OKC    38      62
FEB 07, 2015 - DAL vs. POR    43      62

## Question 2b: which team made the most shots as a percentage of all shots taken in a game (for all games in the season)

In [12]:
# to answer this we're going to make a derived column called make percentage
made_missed_by_game['make_percentage'] = \
    made_missed_by_game['made']/(made_missed_by_game.sum(axis=1))

In [13]:
made_missed_by_game.sort_values('make_percentage').head()

SHOT_RESULT                 made  missed  make_percentage
MATCHUP
FEB 09, 2015 - GSW @ PHI       2       9         0.181818
OCT 29, 2014 - PHI @ IND       9      25         0.264706
MAR 04, 2015 - NYK @ IND       7      18         0.280000
NOV 16, 2014 - OKC vs. HOU    13      33         0.282609
JAN 13, 2015 - LAL vs. MIA    23      58         0.283951

In [14]:
made_missed_by_game.sort_values('make_percentage', ascending=False).head()

SHOT_RESULT                 made  missed  make_percentage
MATCHUP
DEC 22, 2014 - SAS vs. LAC    44      25         0.637681
JAN 16, 2015 - ATL @ TOR      40      23         0.634921
DEC 07, 2014 - MEM vs. MIA    40      23         0.634921
NOV 15, 2014 - CLE vs. ATL    39      23         0.629032
NOV 14, 2014 - NOP vs. MIN    42      25         0.626866

## Question 3: which team had the lowest make percentage (in a game) but still won that game (for all games in the season)

In [15]:
# The most straight forward way to do this would be to use the same groupby 
# as above but to restrict the initial df to contain only 'W' games.
made_missed_by_won_game = df[df['W']=='W']\
    .groupby(['MATCHUP', 'SHOT_RESULT']).size().unstack()

made_missed_by_won_game['make_percentage'] = \
    made_missed_by_won_game['made']/(made_missed_by_won_game.sum(axis=1))

In [16]:
made_missed_by_won_game.sort_values('make_percentage').head()

SHOT_RESULT                 made  missed  make_percentage
MATCHUP
FEB 09, 2015 - GSW @ PHI       2       9         0.181818
NOV 16, 2014 - HOU @ OKC      20      49         0.289855
JAN 24, 2015 - CHA vs. NYK    23      50         0.315068
JAN 17, 2015 - CHA vs. IND    31      65         0.322917
DEC 31, 2014 - OKC vs. PHX    21      44         0.323077

## Question 4: which individual player took the most shots in a single game (for all the games in the season)

In [17]:
made_missed_by_matchup_player = \
    df.groupby(['MATCHUP', 'player_name','SHOT_RESULT']).size().unstack().head()

In [18]:
made_missed_by_matchup_player['total'] = made_missed_by_matchup_player.sum(axis=1)

In [19]:
made_missed_by_matchup_player.reset_index().sort_values('total', ascending=False).head()

SHOT_RESULT                   MATCHUP      player_name  made  missed  total
3            DEC 01, 2014 - DEN @ UTA       jj hickson   4.0     8.0   12.0
0            DEC 01, 2014 - DEN @ UTA    arron afflalo   6.0     5.0   11.0
4            DEC 01, 2014 - DEN @ UTA   kenneth faried   4.0     5.0    9.0
2            DEC 01, 2014 - DEN @ UTA   darrell arthur   4.0     3.0    7.0
1            DEC 01, 2014 - DEN @ UTA  danilo gallinai   2.0     4.0    6.0

## Question 8: which player averaged the most shots over all the games they played in. (for all the games in the season)

In [20]:
# we can get started by finding how many made and missed shots each player has 
made_missed_by_player = df.groupby(['player_name','SHOT_RESULT']).size().unstack()
made_missed_by_player.head()

SHOT_RESULT      made  missed
player_name
aaron brooks      233     328
aaron gordon       55      49
al farouq aminu   111     147
al horford        387     328
al jefferson      382     418

In [21]:
# but we also need the total number of games each of these players played in
number_of_games_by_player = df.groupby(['player_name'])['MATCHUP'].nunique()\
.to_frame().sort_values('MATCHUP', ascending=False)
number_of_games_by_player.head()

                MATCHUP
player_name
timofey mozgov       62
deandre jordan       62
elfrid payton        62
chris paul           62
mnta ellis           62

In [22]:
# ok how we can put these two dataframes together 
# but how are we going to do this since they are not in the same order?
# if you have some experience with SQL you're probably thinking to use
# merge and we can do that it would look like this

In [23]:
made_missed_num_games_by_player = pd.merge(made_missed_by_player, number_of_games_by_player, left_index=True, right_index=True)
made_missed_num_games_by_player.head()

                made  missed  MATCHUP
player_name
timofey mozgov   233     195       62
deandre jordan   280     113       62
elfrid payton    198     282       62
chris paul       425     460       62
mnta ellis       473     579       62

In [24]:
# but there is a much easier way ....
# a way that could be described as pantastic

In [25]:
made_missed_by_player['num_games_played'] = number_of_games_by_player

In [26]:
made_missed_by_player.head()

SHOT_RESULT      made  missed  num_games_played
player_name
aaron brooks      233     328                61
aaron gordon       55      49                27
al farouq aminu   111     147                54
al horford        387     328                57
al jefferson      382     418                50

In [ ]:
# pretty slick right?
# pandas aligns indexes for us

In [ ]:
# if you want more questions here are a few that are very similar.
# 1. most often defending
# 2. most often defending a shot that is missed / made
# 3. most often defending a shot that is missed / made avg over number of games

In [ ]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(filename="./pandasplash.png")